@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

@media (prefers-color-scheme: dark) {
  :root {
    --ascent-color: gold;
    --bg-color: rgb(27, 25, 25);
    --bg-gradient: rgba(49, 47, 47, 0.8);
    --primary-1: black;
    --primary-2: rgb(87, 107, 135);
    --primary-3: rgb(164, 179, 201);
    --primary-4: white;
    --watchPage-bg: rgba(23, 21, 21, 0.8);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --ascent-color: gold;
    --bg-color: rgb(235, 235, 235);
    --bg-gradient: rgba(249, 249, 249, 0.8);
    --primary-1: black;
    --primary-2: rgb(87, 107, 135);
    --primary-3: rgb(164, 179, 201);
    --primary-4: white;
    --watchPage-bg: rgba(232, 232, 232, 0.8);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  background: var(--bg-color);
  color: var(--primary-4);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.selection-box {
  position: absolute;
  width: 100px; /* Adjust width */
  height: 50px; /* Adjust height */
  border: 2px solid var(--ascent-color);
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
  z-index: 9999;
  transition: all 0.1s ease;
}
